@model dynamic

<div class="modal fade" id="confirmDeleteModal" tabindex="-1"
     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-danger">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="confirmDeleteModalLabel">
                <i class="fa-solid fa-trash me-3" ></i>
                    @Model.Title</h5>
                <button type="button" class="btn-close btn-close-white"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Model.Message
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    @Model.CancelText
                </button>
                
                <form asp-antiforgery="true" method="post"
                      asp-area="@Model.Area"
                      asp-controller="@Model.Controller"
                      asp-action="@Model.Action"
                      asp-route-id="@Model.RouteId">
                    <button type="submit" class="btn btn-danger">
                        @Model.ConfirmText
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>